<template>
	<v-layout>
    <v-flex text-xs-center>
    	<div class="text-custom">
    		{{ titlepage }}
    	</div>
    	<div>
    		{{ title }}
    	</div>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
	asyncData ({ params }) {
		return { title: params.title }
	},
  data() {
    return {
      titlepage: 'Blog page'
    }
  },
  head () {
  	return {
  		title: 'Blog page ' + this.title,
  		meta: [
				{ hid: 'description', name: 'description', content: 'Blog page of ' + this.title }
			]
  	}
  }
}
</script>

<style lang='scss' scoped>
	.text-custom {
		color: red;
	}
</style>
