<template>
	<v-layout>
    <v-flex text-xs-center>
    	<div class="text-custom">
    		{{ title }}
    	</div>
    	<div>
    		<a href="/blog/testingblog">Test Link</a>
    	</div>
    	<div>
    		<!-- <button v-on:click.stop.prevent="loginError">Notif</button> -->
    	</div>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
	layout: 'blog',
  data() {
    return {
      title: 'Blog page'
    }
  },
  head () {
  	return {
  		title: 'Blog page',
  		meta: [
				{ hid: 'description', name: 'description', content: 'Main Blog page' }
			]
  	}
  },
  methods: {
    loginError () {
    }
  },
  mounted () {
  	this.loginError()
  }
}
</script>

<style lang='scss' scoped>
	.text-custom {
		color: red;
	}
</style>
